@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 300;
  src: local('Cairo Light'), local('Cairo-Light'),
    url('/fonts/cairo-v6-latin-300.woff2') format('woff2'),
    url('/fonts/cairo-v6-latin-300.woff') format('woff');
}
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 400;
  src: local('Cairo'), local('Cairo-Regular'),
    url('/fonts/cairo-v6-latin-regular.woff2') format('woff2'),
    url('/fonts/cairo-v6-latin-regular.woff') format('woff');
}

:root {
  --c50: white;
  --c100: #fff7eb;
  --c200: #e9f8e8;
  --c300: #37b311;
  --c900: #07130f;
}

@media (prefers-color-scheme: dark) {
  :root {
    --c50: black;
    --c100: #07130f;
    --c300: #59c438;
    --c900: #fff7eb;
  }
}

html {
  background: white;
  height: 100%;
  font-size: 10px;
  min-width: 1vw;
}

@media screen and (min-width: 48em) {
  html {
    /* font-size: calc(16px + 3 * ((100vw - 600px) / 400)); */
    font-size: min(1.85vw, 16px);
  }
}
@media screen and (min-width: 62em) {
  html {
    /* font-size: calc(16px + 6 * ((100vw - 1000px) / 1000)); */
    font-size: min(1.15vw, 18px);
  }
}

body {
  margin: 0;
  font-family: 'Cairo';
}

html,
*,
*::before,
*::after {
  box-sizing: border-box;
}

strong,
b {
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0.037em;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: inherit;
}

pre {
  font-family: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}
